# This is a basic workflow to help you get started with Actions

name: Azure API Management Instance Creation

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: whiteducksoftware/azure-arm-action@v2.2
      with:
        # Paste output of `az ad sp create-for-rbac -o json` as value of secret variable: AZURE_CREDENTIALS
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        # Provide the name of a resource group.
        resourceGroupName: APIM-instance-southeastasia
        # Specify the path to the Azure Resource Manager template.
        templateLocation: 101-api-management-create-with-msi/azuredeploy.json
        # Specifies the name of the resource group deployment to create.
        deploymentName: APIM-Southeast-Asia
        # Incremental (only add resources to resource group) or Complete (remove extra resources from resource group).
        deploymentMode: Incremental # optional, default is Incremental
        # Specify the path to the Azure Resource Manager parameters file.
        parametersLocation: 101-api-management-create-with-msi/azuredeploy.parameters.json
