# This is a basic workflow to help you get started with Actions

name: Azure API Management Instance Creation

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# environment variable
env:
  ResourceGroup: APIM-Southeast-Asia
  Location: southeastasia
  DeploymentName: APIM-SEA

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Login via Az module
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Run Az CLI script
      run: |
        az group create -l ${Location} -n $ResourceGroup

    - name: Create API Management Instance with ARM action js
      uses: whiteducksoftware/azure-arm-action-js@v1
      with:
        resourceGroupName: ${{ResourceGroup}}
        templateLocation: 101-api-management-create-with-msi/azuredeploy.json
        deploymentName: ${{DeploymentName}}
        deploymentMode: Complete
        parameters: 101-api-management-create-with-msi/azuredeploy.parameters.json
