# This is a basic workflow to help you get started with Actions

name: Azure API Management Instance Creation

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - uses: whiteducksoftware/azure-arm-action-js@v1
      with:
        resourceGroupName: APIM-southeastasia
        templateLocation: 101-api-management-create-with-msi/azuredeploy.json
        deploymentName: APIM-Southeast-Asia
        deploymentMode: Complete
        parameters: 101-api-management-create-with-msi/azuredeploy.parameters.json
